/* styles go here */
.form-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-group:first-child {
  margin-top: 0;
}

.form-group:last-child {
  margin-bottom: 0;
}

.form-field {
  display: block;
  margin: 10px 0;
}

.form-field:nth-child(2) {
  margin-top: 0;
}

.form-field:last-child {
  margin-bottom: 0;
}
